
<div class="rounded-lg bg-gray-100 shadow px-4 py-4">
	<h1 class="text-xl text-shmutz-blue brand">המשימות שלי</h1>
	<% @my_tasks.each do |task| %>
		<%= render "task", { task: task, status: "in_progress", kid: current_user.id, house: 99999 } %>
	<% end %>
</div>
<br>

























<div class="rounded-lg bg-gray-100 shadow px-4 py-4">
	<h1 class="text-xl text-shmutz-blue brand">משימות תנועתיות</h1>
	<% @random_tasks.each do |task| %>
		<%= render "task", { task: task, status: "random", kid: current_user.id, house: 99999 } %>
	<% end %>
</div>
<br>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4">
	<h1 class="text-xl text-shmutz-blue brand">משימות שסיימתי</h1>

	<% @done_tasks.each do |task| %>
		<%= render "task", { task: task, status: "done", kid: current_user.id, house: 99999 } %>
	<% end %>
</div>
