<div class="container w-full py-1 shadow my-2 rounded-lg">
	<div class="w-full flex justify-between">
		<span class="name mx-3 text-lg"><%= task.name %></span>
		<% if status == "to_approve" %>
			<span class="name mx-3 text-lg"><%= task.name %></span>
		<% end %>
		<span class="mx-3 w-1/3 flex justify-end"><i class=""></i></span>
		<%# case status %>
			<%# when "in_progress", "random" %>
			<%# when "done" %>
				<!-- <span class="mx-3 text-lg line-through"><%#task.name %></span> -->
				<!-- <span class="mx-3 w-1/3 flex justify-end"><i class="gg-time"></i></span> -->
			<%# when "approved" %>
				<!-- <span class="mx-3 text-lg line-through"><%# task.name %></span> -->
				<!-- <span class="mx-3 w-1/3 flex justify-end"><i class="gg-check-o"></i></span> -->
		<%# end %>
	</div>
	<span class="mx-3 aw-1/3"><%= task.score %> נקודות</span>
</div>
<script type="text/javascript">
	<% case status %>
		<% when "in_progress", "random", "to_approve" %>
			$("i").last().addClass('gg-check-o')
			$(".container").last().addClass('bg-blue-100')
		<% when "done" %>
			$("i").last().addClass('gg-time')
			$(".container")last().addClass('bg-gray-200')
			$(".name").last().addClass('line-through')
		<% when "approved" %>
			$(".container").last().addClass('bg-gray-200')
			$(".name").last().addClass('line-through')
		<% when "general" %>
			$("i").last().addClass('gg-add')
			$(".container").last().addClass('bg-blue-100')
	<% end %>
</script>
