<% if current_user.kid_user? %>
	<%= render "kid_home"%>
<% elsif current_user.group_user? %>
	<%= render "group_home"%>
<% end %>




<br><br><br><br><br>
<div class="">
  המשימות שלי
</div>

<div class="">
  הניקוד שלי ביחס לאחרים
  <br>Leaderboard
</div>

<div class="">
  החניכים שלי, אם אני מדריך
  <br>משימות שאני צריך לאשר
</div>

<div class="">
  המדריכים שלי, אם אני רכז קן
</div>

<div class="">
  רכזי הקנים שלי, אם אני רכז אזור
</div>

<div class="">
  רכזי האזור שלי, אם אני רכז תנועה
</div>

<div class="">
  התנועות שלי, אם אני אדמין
</div>
