<%= @my_tasks.first.name %>
<% @random_tasks.each do |task| %>
	<%= task.name %>
<% end %>
<h1 class="semibold text-2xl">Welcome to Kickoff!</h1>
<p class="lead">Use this starting point as a way to quickly set up a new project by generating files, installing gems, and more.</p>

<div class="">
  המשימות שלי
</div>

<div class="">
  הניקוד שלי ביחס לאחרים
  <br>Leaderboard
</div>

<div class="">
  החניכים שלי, אם אני מדריך
  <br>משימות שאני צריך לאשר
</div>

<div class="">
  המדריכים שלי, אם אני רכז קן
</div>

<div class="">
  רכזי הקנים שלי, אם אני רכז אזור
</div>

<div class="">
  רכזי האזור שלי, אם אני רכז תנועה
</div>

<div class="">
  התנועות שלי, אם אני אדמין
</div>
