<%= image_tag "Pinkas01.jpg", loading: "lazy" %>
<h1 class="text-3xl font-semibold">מה זה פנקסי?</h1>
<h1 class="text-3xl font-semibold">מה זה פנקסי?</h1>
<p class="text-2xl white-space-pre"><strong>פִּנְקָסִי</strong> היה ספרון שהוענק לכל חבר וחברה בשומר הצעיר בשנותיה הראשונות.
הוא כלל את עיקרי התנועה, הסיסמאות והאמרות הנהוגות בה וסמליה, פרקי היסטוריה, לקט שירים, וטבלאות סדר יום.
מהדורתו הראשונה ראתה אור בורשה שבפולין, בשנת תרע"ח 1918, מיד לאחר גמר מלחמת העולם הראשונה.
בהמשך ראו אור מהדורות נוספות, שבהן שונו תכני הספרון, בגלל השינויים החברתיים והרעיוניים בתנועה ובסביבתה.</p>
<h1 class="text-3xl">מה היה בפנקסי?</h1>
<ol class="text-2xl">
	<li class="white-space-pre">עקרונות התנועה:
תעודת השומר הצעיר, הסבר על "חזק ואמץ", דברות השומר.</li>
	<li>היסטוריית התנועה והעם היהודי.</li>
	<li>מקורות רעיוניים:
 ציטוטי חז"ל, שירים.</li>
	<li>טבלאות:
עשרת הדיברות לשמירה על הבריאות, מעשית למען עמך וארצך, אני, טיולים שהשתתפתי בהםמה קראתי ומה עלי לקרוא, מעשי ידי</li>
</ol>
