<footer class="bg-blue-500 w-12 h-12 text-white rounded-full flex justify-center items-center float-left m-3">
	<%= link_to '/home/leaders.html' do  %>
		<button><i class="gg-trophy"></i></button>
	<% end %>
</footer>
